.col-ct-3 {
  @include media-breakpoint-up(lg) {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
  }

  @include media-breakpoint-up(xl) {
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    max-width: 22%;

    .container-card-category & {
      -ms-flex: 0 0 21%;
      flex: 0 0 21%;
      max-width: 21%;
    }
  }

}

.col-card-match {
  @include media-breakpoint-up(xl) {
    -ms-flex: 0 0 42.41%;
    flex: 0 0 42.41%;
    max-width: 42.41%;
  }
}

