.header {

  &.header-blue {
    background-color: $blue;

    a {
      color: #fff;
    }
  }

  .navbar-collapse {
    @include media-breakpoint-up(md) {
      flex-grow: 0;
    }
  }

  .brand {
    img {
      width: 80%;
      @include media-breakpoint-up(lg) {
        width: 100%;
      }
    }
  }

  nav {
    ul {
      li {
        a {
          color: $gray;
          font-weight: 500;
          font-size: rem(15);
        }
      }
    }
  }
}

.navbar-collapse {
  @include media-breakpoint-down(sm) {
    .home & {
      z-index: 2;
      position: relative;
      padding: 0 20px;
      background-color: rgba($blue, 0.8);

      a {
        color: #fff;
      }
    }
  }
}

