.header {

  &.header-blue {
    background-color: $blue;

    a {
      color: #fff;
    }
  }

  nav {
    ul {
      li {
        a {
          color: $gray;
          font-weight: 500;
          font-size: rem(15);
        }
      }
    }
  }
}

