html {
  font-size: 15px;

  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img {
  max-width: 100%;
}

.color {
  &-blue {
    color: $blue;
  }
  &-gray2 {
    color: $gray2;
  }
}

.social-media {
  &-icon {
    text-indent: -10000px;
    background-image: url("/images/social-media.png");
    display: block;
    width: 56px;
    height: 56px;
  }

  .socmed-facebook {
    background-position: -78px 0
  }

  .socmed-twitter {
    background-position: -155px 0;
  }

  .socmed-youtube {
    background-position: -233px 0;
  }
}
