.banner {
  min-height: 904px;
  background-image: url("/images/bg-banner-1_2_1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  &-inner {
    @include vertical-align(relative, 20%, 20%)
  }

  .btn {
    padding: 11px 35px;
  }

  .logo {
    margin: 0 auto;
    margin-left: -20px;

    @include media-breakpoint-up(md) {
      width: 400px;
      height: auto;
    }
  }

  .heading {

    header {
      h1 {
        font-weight: 900;
        font-size: rem(48);
        -webkit-text-stroke: 2px #fff;
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;

        @include media-breakpoint-down(sm) {
          font-size: 40px;
          line-height: 1;
        }
      }
    }

    h4 {
      font-size: rem(24);
      font-weight: 600;
    }
  }
}

.info {
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;

  @include linear-gradient(to bottom, #eaeaea 0%, #fff 50%, #eaeaea 100%);

  header {
    h1 {
      font-size: rem(40);
    }

    .intro {
      font-size: rem(18);
      font-weight: 500;
      color: $gray3;

      @include media-breakpoint-up(lg) {
        width: 75%;
      }
    }
  }
}

.jadwal {
  background-color: $blue;
}

.category {
  @extend .info;

  border-top: 4px solid #fff;
  border-bottom: 0;

  @include linear-gradient(to bottom, #ececec 0%, #fff 50%, #f8fdff 100%);
}

.tema {
  @extend .category;
}

.syarat {
  @extend .category;
}