.card-bg-blue {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 1px 26px -5px rgba(0,0,0,0.75);
  position: relative;
  padding: 11px;

  @include linear-gradient(to bottom, #19336f, #2968b5);
}

.card_artis {
  height: 257px;
  width: 244px;

  @include media-breakpoint-between(sm, md) {
    height: 229px;
    width: 220px;
  }

  &_bg {

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 51px;
      position: absolute;
      bottom: 0;
      left: 0;

      @include linear-gradient(to right, #dfdfdf, #f0f0f0);
    }
  }

  .photo_box {
    width: 223px;
    height: 236px;
    margin: 0 auto;
    z-index: 99;
    position: relative;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 0px 1px 26px -5px rgba(0,0,0,0.75);

    @include media-breakpoint-between(sm, md) {
      width: 199px;
      height: 208px;
    }

    &-img {
      width: 100%;
      height: 164px;

      @include media-breakpoint-between(sm, md) {
        height: 146px;
      }
    }

    &-name {
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      height: 71px;
      position: relative;
      z-index: 99;

      @include linear-gradient(to right, #dfdfdf, #f0f0f0);

      @include media-breakpoint-between(sm, md) {
        height: 61px;
      }

      span {
        font-weight: 700;
        color: #000;
        font-size: rem(21);
        line-height: 1;
      }
    }
  }
}

.card-match {
  width: 100%;
  height: 97px;
  background-image: url('../images/bg-card-match.jpg');
  background-position: -65px 0;

  @include media-breakpoint-up(md) {
    background-position: -50px 0;
  }

  @include media-breakpoint-up(lg) {
    background-position: -25px 0;
  }

  @include media-breakpoint-up(xl) {
    width: 543px;
    background-position: 0 0;
  }

  .date {
    color: $black2;

    &-date {
      font-size: rem(15);
      font-weight: 600;
      line-height: 1;

      @include media-breakpoint-down(md) {
        font-size: 11px;
      }
    }

    &-time {
      font-size: rem(26);
      font-weight: 700;
      line-height: 1;

      @include media-breakpoint-down(md) {
        font-size: 16px;
      }
    }
  }

  .detail {
    color: #fff;

    &-photo img {
      @include media-breakpoint-down(md) {
        width: 30%;
      }
    }

    &-text {}

    &-artis {
      font-size: rem(15);
      font-weight: 300;
      line-height: 1;

      @include media-breakpoint-down(md) {
        font-size: 11px;
      }
    }

    &-category {
      font-size: rem(20);
      font-weight: 700;
      line-height: 1.4;

      @include media-breakpoint-down(md) {
        font-size: 16px;
      }
    }
  }
}

.card-category {
  width: 244px;
  height: 100%;

  @include media-breakpoint-between(sm, md) {
    width: 220px;
  }

  &.active {
    .card-category-bg {
      @include linear-gradient(to right, #5d5d5d, #7f7f7f);
    }
  }

  &-bg {
    transition: all;
    @include linear-gradient(to right, #19336f, #2968b5);
  }

  .photo_box {
    color: #fff;
    h3 {
      font-size: rem(20);
      font-weight: 700;
    }

    p {
      margin: 0;
      font-size: rem(14);
      line-height: 1.3;
    }

    &-img {
      height: 227px;
      width: 100%;
    }
  }
}

.card-tema {
  width: 100%;
  height: 100%;
  color: #fff;

  @include media-breakpoint-up(sm) {
    width: 510px;
    height: 504px;
  }

  &-bg {
    transition: all;
    @include linear-gradient(to right, #2968b5, #19336f);
  }

  header {
    h1 {
      font-size: rem(40);
      font-weight: 700;
    }

    p {
      font-size: rem(23);
      margin-bottom: 0;
    }
  }
}

.card-syarat {
  width: 100%;
  height: 100%;
  color: #fff;

  @include media-breakpoint-up(sm) {
    width: 651px;
  }

  &-bg {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all;
    @include linear-gradient(to right, #2968b5, #19336f);
  }

  header {
    h1 {
      font-size: rem(28);
      font-weight: 700;
    }
  }

  &-inner {
    font-size: rem(18);
  }
}

.container-option-tema {
  width: 100%;
  height: 100%;

  @include media-breakpoint-up(sm) {
    width: 510px;
  }

  .option-box {
    cursor: pointer;
    @include linear-gradient(to bottom, #f0f0f0, #e0e0e0);

    &.active {
      @include linear-gradient(to bottom, #2968b5, #19336f);
      color: #fff;

      .option-box-tema {
        color: #fff;
      }
    }

    &-date {
      font-size: rem(14px);
    }

    &-tema {
      font-size: rem(23);
      color: $gray4;
      line-height: 1.2;
    }
  }
}

.card-ul {
  list-style: none;
  padding:0;
  margin:0;

  li {
    padding-left: 30px;
    text-indent: -27px;
    margin-bottom: 25px;

    &:before{
      content: "";
      background-color: #7eb7ff;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      display: inline-block;
      color: #7eb7ff;
      margin-right: 20px;
      top: -3px;
      position: relative;
    }
  }
}

.container-pilih-tim {
  img {
    @include media-breakpoint-down(sm) {}
  }
}